body{
    margin: 0px;
    padding-bottom: 250px;
    background-image: url(https://drive.google.com/uc?id=1cbXfnGxPvnWlik6Sr0b3e7Xv8wJ-dyJO&authuser=rajaoferaa%40eisti.eu&usp=drive_fs);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
    position: relative;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height:60px;
    background-color: #ea272d;
    box-shadow:2px 2px 12px rgba(0,0,0,0.20);
}

#logo{
    height:60px;
}

.menuh{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menuh ul{
    display: flex;
}

.menuh ul li a{
    padding:0px 30px;
    color: #ffffff;
    font-family: calibri;
    font-weight: bold;
}
.menuh ul li a:hover{
    padding:0px 30px;
    color: black;
    font-family: calibri;
    font-weight: bold;
}

#panier{
    color: #ffffff;
    font-family: calibri;
    font-weight: bold;
}
#panier:hover{
    color: black;
    font-family: calibri;
    font-weight: bold;
}

/** Contenu principal **/
.menu_gauche{
    width: 15%;
}
.main-content{
    width: 100%;
    display: flex;
}

/* MENU LATERAL / ASIDE */
#menu_contextuel{
 width: 100%;
    z-index: 1;
    float: left;
}

#circle{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background: white;
    position: absolute;
    top:112px;
    left: 50px;
    z-index: 1;
}

#menu_contextuel input{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 115px;
    left: 50px;
    cursor: pointer;
    opacity: 0; 
    z-index: 2;
}
#menu_contextuel span{
    top:67px;
    left: 59px;
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px; /* forme de croix  qd on clique*/
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease; /*animation croix*/
}
#menu_contextuel span:first-child{
    transform-origin: 0% 0%;
}
#menu_contextuel span:nth-last-child(2){
    transform-origin: 0% 100%; /*forme la croix qd on clique*/
}
#menu_contextuel input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);/*forme la croix qd on clique*/
    background: #232323;
    /*on va centrer la croix pour l'animation*/
    top:70px;
    left: 64px;
}
#menu_contextuel input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);/*forme la croix qd on clique*/
}
#menu_contextuel input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);/*forme la croix qd on clique*/
}
#menu_contextuel input:checked ~ ul{
    transform: none;/*affiche ul*/
}

#menu_contextuel a{
    text-decoration: none;
    color: #232323; 
    width: 100%;
}


#menu_contextuel-container{
    margin-top: 100px;
    background: #353036;
    list-style-type: none;
    transform: translate(-100%, 0);/*rend menu invisible au début*/
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); /*animation déoule menu*/
    position: relative;
}

#menu_contextuel-container li{
    width: 100%;
    padding: 10px 0;
    color: #ffffff;
    font-family: calibri;
    font-weight: bold;
    border: 1px solid #fff ;
    text-align: center;
}
#menu_contextuel-container li:hover{
    padding: 10px 0;
    color: #ea272d;
    font-family: calibri;
    font-weight: bold;
}

/*POPUP*/
.login-popup {
position: relative;
text-align: center;
width: 100%;
background : red;
}
/* Masquez la forme Popup */
.form-popup {
display: none;
position: fixed;
left: 45%;
top:5%;
transform: translate(-45%,5%);
border: 2px solid #666;
z-index: 9;
}
/* Style contenu Popup */
.form-container {
max-width: 300px;
padding: 20px;
background-color: #fff;
}
/* Largeur complète pour les champs de saisie */
.form-container input[type=text], .form-container input[type=password] {
width: 100%;
padding: 10px;
margin: 5px 0 22px 0;
border: none;
background: #eee;
}
/*Quand les entrées sont concentrées, faites quelque chose */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}

.form-container span{
    color:black;
}


/* Style bouton connexion*/
.form-container .btn {
background-color: #8ebf42;
color: #fff;
padding: 12px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
}
/* Style bouton annuler */
.form-container .cancel {
background-color: #cc0000;
}

/*Voile foncé*/
.overlay {
display: none;
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: hsla(0, 0%, 0%, 0.5);
z-index: 1
	
}



/*SECTION*/
.main-section{
    color:white;
    float: right;
    top: 50%;
    width: 85%;
}

.whats-new{
    display:flex;
    justify-content:center;
    margin:7% 0px 20px 0px;
    font-family: calibri;
    font-weight: bold;
}

.search{
    border-radius: 30px;
    margin:10px;
    background-color:#ffffff;
    display:block;
    flex-direction:column;
    text-align: center;
}
.search input{
    background: none;
    border: 0;
    outline: 0;
    width: 500px;
    text-align: center;
    margin:10px;
}
.search_btn{
    border:0;
    margin:10px;
    float: right;
}
.new_pizza{
    background-image: url(https://drive.google.com/uc?id=1izEhTqq2pl4RJe9ql4VrtxTbSLgjIWJT&authuser=rajaoferaa%40eisti.eu&usp=drive_fs);
    background-size: cover;
    background-repeat: no-repeat;
}
.new_burger{
    background-image: url(https://drive.google.com/uc?id=1djqf5xhXnnoXC4zljDQnA_QCMUNpbfra&authuser=rajaoferaa%40eisti.eu&usp=drive_fs);
    background-size: cover;
    background-repeat: no-repeat;
}
.new_poulet{/*fils de new*/
    background-image: url(https://drive.google.com/uc?id=1-d442MFgtx2WZTFiPO2gDS37Edvt7rV5&authuser=rajaoferaa%40eisti.eu&usp=drive_fs);
    background-size: cover;
    background-repeat: no-repeat;
}


.new_pizza h2{
    font-size:40px;
    font-weight:bold;
    font-family:calibri;
}
.new_pizza p{
    color:#FFFFFF;
    line-height:50px;	
    padding:0px;
    margin:0px;
    font-size:30px;
    font-family:myriad pro;
}
.new_pizza input{
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.new_burger h2{
    font-size:40px;
    font-weight:bold;
    font-family:calibri;
}
.new_burger p{
    color:#FFFFFF;
    line-height:50px;	
    padding:0px;
    margin:0px;
    font-size:30px;
    font-family:myriad pro;
}
.new_burger input{
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.new_poulet h2{
    font-size:40px;
    font-weight:bold;
    font-family:calibri;
}
.new_poulet p{
    color:#FFFFFF;
    line-height:50px;	
    padding:0px;
    margin:0px;
    font-size:30px;
    font-family:myriad pro;
}
.new_poulet input{
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/* FOOTER */

footer{
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    background-color:black;
    height:250px;
    box-shadow:2px 2px 12px rgba(0,0,0,0.20);
}

.bloc{
    float:left;
    width:30%;
    color:white;
    font-family:calibri;
    margin-left:20px;
    border-spacing: 10px;
}

.bloc span{
    text-align:justify;
}

.bloc span ul li a{
    color: white;
    font-family: calibri;
    font-weight: bold;
    margin-left:-35px;
}

.bloc span ul li a:hover{
    color:red;
}

.copyright{
    display: inline-block;
    text-align: center;
    font-family:myriad pro;
    font-size:12px;
    min-width: 100%;
}
.copyright p{
    font-family:calibri;
    color:#B9B9B9;
}


/*RESPONSIVE à faire à la fin*/
@media all and (max-width:862px){

    .menuh{
        display: inline-block;
    }

}

