.container table{
    border-collapse: collapse;
    width:100%;
}

.container table td,.container table th{
    border:medium solid grey;
    width:25%;
    color:white;
}

th img{
    height: 180px;
    width: 200px;
}


