.main-head{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #522600;
}
.menuh{
    display: flex;
    align-items: center;  
}
#logo{
    width: 220px;

}
.menuh ul{
    display: flex;
    justify-content: space-around;
    flex :1 1 40rem; 
}
.menuh ul li{
    display: inline;
    text-align: center;
}
.menuh ul li a{
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    border : 2px solid white;
    width: 110px;
}
.menuh ul li a:hover{
    text-decoration: none;
    display: inline-block;
    color: #D9670F;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    border : 2px solid #D9670F;
    width: 110px;
}

#login{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    border : 2px solid white;
    border-radius :100px;
    height: auto;
    width: 110px;
    text-align: center;
}
#login:hover{
    text-decoration: none;
    color: red;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    border : 2px solid red;
    border-radius :100px;
    height: auto;
    width: 110px;
    text-align: center;
}

/* Menu latéral gauche */
.menu2{
    list-style:none;
    float: left; 
    width:150px;
    margin-right:20px;
    background-color:#a5978a;
    height:500px;
}
.menu2 li a{
    text-decoration: none;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    border : 2px solid black;
}
.menu2 ul li a:hover{
    color:whitesmoke;
    border : 2px solid whitesmoke;
}
.menu2 ul{
    list-style: none;
}
.menu2 ul li{
    padding-bottom: 20px;
}
