body{
    margin: 0px;
    padding-bottom: 200px;
    background-image: url(../img/index2.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

header{
    width: 100%;
    height:60px;
    background-color: #ea272d;
    box-shadow:2px 2px 12px rgba(0,0,0,0.20);
}

#logo{
    height:60px;
}

.menuh{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menuh ul{
    display: flex;
}

.menuh ul li a{
    padding:0px 30px;
    color: #ffffff;
    font-family: calibri;
    font-weight: bold;
}
.menuh ul li a:hover{
    padding:0px 30px;
    color: black;
    font-family: calibri;
    font-weight: bold;
}

#panier{
    color: #ffffff;
    font-family: calibri;
    font-weight: bold;
}
#panier:hover{
    color: black;
    font-family: calibri;
    font-weight: bold;
}

/** Contenu principal **/
.main-content{
    width: 100%;
    display: flex;
}


/*ASIDE */

.menu2{
    list-style:none;
    float: left; 
    width:30%;
    background-color:black;
}
.menu2 li a{
    text-decoration: none;
    color: white;
    font-family:calibri;
    font-weight: bold;
}
.menu2 ul li a:hover{
    color:red;
}

/* MENU LATERAL */
.menu{
	width:40px;
	height:40px;
	display:block;
	position:relative;
    float:left;
    width:200px;
	}

.list,.intro{
	height:100%;
	top:0;
	display:flex;
	position:fixed;
	align-items:center;
	flex-flow:column wrap;
	justify-content:center;
	z-index:-1;
	transition:all .75s ease
	}

.list{
	background:#333033;
	width:200px;
	left:-120px;
	opacity:0
	}

.list span{
	background:gray;
	width:200px;
    height:70px;
	/*margin:5px 0;*/
	padding-top:40px;
	text-align:center;
	border-radius:4px;
	}
.list span:hover{
    background-color:yellow;
}

.intro{
	width:100%;
	padding:0 8px;
	left:0;
	text-align:center
	}

.btn{
	background:#000;
	width:40px;
	height:40px;
	top:10px;
	left:10px;
	display:block;
	position:absolute;
	border-radius:50%
	}

.btn:before,
.btn:after{
	background:#fff;
	width:20px;
	height:2px;
	left:10px;
	display:block;
	position:absolute;
	content:"";
	transition:all .75s ease
	}
	
.btn:before{top:16px}
.btn:after{bottom:16px}

.menu:focus-within .list{left:0;opacity:1}
.menu:focus-within .intro{width:calc(100% - 120px);left:120px}
.menu:focus-within .btn:before{transform:rotate(45deg) translate(2px,2px)}
.menu:focus-within .btn:after{transform:rotate(-45deg) translate(2px,-2px)}


/*SECTION*/
.main-section{
    color:white;
    float: right;
    top: 50%;
    width: 70%;
}
.search{
    border-radius: 30px;
    margin:10px;
    background-color:#ffffff;
    display:block;
    flex-direction:column;
    text-align: center;
}
.search input{
    background: none;
    border: 0;
    outline: 0;
    width: 500px;
    text-align: center;
    margin:10px;
}
.search_btn{
    border:0;
    margin:10px;
    float: right;
}
.new{
    background-image: url(../img/new_tenders.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.new h2{
    font-size:40px;
    font-weight:bold;
    font-family:calibri;
}
.new p{
    color:#FFFFFF;
    line-height:50px;	
    padding:0px;
    margin:0px;
    font-size:30px;
    font-family:myriad pro;
}
.new:nth-child(2n){/*fils de new*/
    background-image: url(../img/new_burger.jpg);
}
.new:nth-child(3){/*fils de new*/
    background-image: url(../img/new_pizza.png);
}








/* FOOTER */
footer{
    position:absolute;
    bottom:0;
    left: 0;
    width: 100%;
    background-color:#0A0A0A;
    height:150px;
    border-bottom:2px solid rgba(255,255,255,0.10);
    padding-top:50px;
}

.menuf li{
    display: inline;
}
.menuf ul li a{
    border-left:3px solid #2E2E2E;
    color:rgba(255,255,255,0.80);
}
.copyright{
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:myriad pro;
    font-weight:400;
    font-size:12px;
    margin-top:10px;
}
.copyright p{
    font-family:calibri;
    color:#B9B9B9;
}

