body{
    margin: 0px;
    padding-bottom: 250px;
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height:60px;
    background-color: #ea272d;
    box-shadow:2px 2px 12px rgba(0,0,0,0.20);
}

#logo{
    height:60px;
}

.menuh{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menuh ul{
    display: flex;
}

.menuh ul li a{
    padding:0px 30px;
    color: #ffffff;
    font-family: calibri;
    font-weight: bold;
}
.menuh ul li a:hover{
    padding:0px 30px;
    color: black;
    font-family: calibri;
    font-weight: bold;
}

#panier{
    color: #ffffff;
    font-family: calibri;
    font-weight: bold;
}
#panier:hover{
    color: black;
    font-family: calibri;
    font-weight: bold;
}

/** Contenu principal **/
.main-content{
    width: 100%;
    display: flex;
}

/* MENU LATERAL / ASIDE */
#menu_contextuel{
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    float: left;
}

#circle{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background: white;
    position: absolute;
    top:112px;
    left: -8px;
    z-index: 1;
}

#menu_contextuel input{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 115px;
    left: -8px;
    cursor: pointer;
    opacity: 0; 
    z-index: 2;
}
#menu_contextuel span{
    top: 125px;
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px; /* forme de croix  qd on clique*/
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease; /*animation croix*/
}
#menu_contextuel span:first-child{
    transform-origin: 0% 0%;
}
#menu_contextuel span:nth-last-child(2){
    transform-origin: 0% 100%; /*forme la croix qd on clique*/
}
#menu_contextuel input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);/*forme la croix qd on clique*/
    background: #232323;
}
#menu_contextuel input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);/*forme la croix qd on clique*/
}
#menu_contextuel input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);/*forme la croix qd on clique*/
}
#menu_contextuel a{
    text-decoration: none;
    color: #232323;  
}

#menu_contextuel input:checked ~ ul{
    transform: none;/*affiche ul*/
}
#menu_contextuel-container{
    position: relative;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    margin-top: 65px;
    margin-right: 50px;
    background: #353036;
    list-style-type: none;
    transform: translate(-100%, 0);/*rend menu invisible au début*/
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); /*animation déoule menu*/
}
#menu_contextuel-container li{
    padding: 10px 0;
    color: #ffffff;
    font-family: calibri;
    font-weight: bold;
}
#menu_contextuel-container li:hover{
    padding: 10px 0;
    color: #ea272d;
    font-family: calibri;
    font-weight: bold;
}

/*SECTION*/
.main-section{
    color:white;
    float: right;
    top: 50%;
    width: 70%;
}

.whats-new{
    display:flex;
    justify-content:center;
    margin:7% 0px 20px 0px;
    font-family: calibri;
    font-weight: bold;
}

.search{
    border-radius: 30px;
    margin:10px;
    background-color:#ffffff;
    display:block;
    flex-direction:column;
    text-align: center;
}
.search input{
    background: none;
    border: 0;
    outline: 0;
    width: 500px;
    text-align: center;
    margin:10px;
}
.search_btn{
    border:0;
    margin:10px;
    float: right;
}
.new{
    background-image: url(../img/new_tenders.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.new h2{
    font-size:40px;
    font-weight:bold;
    font-family:calibri;
}
.new p{
    color:#FFFFFF;
    line-height:50px;	
    padding:0px;
    margin:0px;
    font-size:30px;
    font-family:myriad pro;
}
.new:nth-child(2n){/*fils de new*/
    background-image: url(../img/new_burger.jpg);
}
.new:nth-child(3){/*fils de new*/
    background-image: url(../img/new_pizza.png);
}

.new input{
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/* FOOTER */

footer{
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    background-color:black;
    height:250px;
    box-shadow:2px 2px 12px rgba(0,0,0,0.20);
}

.bloc{
    float:left;
    width:30%;
    color:white;
    font-family:calibri;
    margin-left:20px;
    border-spacing: 10px;
}

.bloc span{
    text-align:justify;
}

.bloc span ul li a{
    color: white;
    font-family: calibri;
    font-weight: bold;
    margin-left:-35px;
}

.bloc span ul li a:hover{
    color:red;
}


.copyright{
    display: inline-block;
    text-align: center;
    font-family:myriad pro;
    font-size:12px;
    min-width: 100%;
}
.copyright p{
    font-family:calibri;
    color:#B9B9B9;
}

